@model ProductsViewModel

@{
    ViewData["Title"] = "Products";
}

<h3>Products</h3>

<div>
    <a class="btn btn-primary" asp-controller="Product" asp-action="Add">Add product</a>
</div>

@if(Model.Products != null && Model.Products.Count > 0)
{
    foreach(var product in Model.Products)
    {
        <div>@product.Id</div>
        <div>@product.Name</div>
        <div>@product.Category</div>
        <div>@product.Description</div>
        <div>@product.Price</div>
    }
}